<mat-toolbar color="primary">
  
  <span>Welcome to {{ title }}!</span>
  
</mat-toolbar>
<div>
  <app-car-list></app-car-list>
</div>
<div>
   <app-client-list></app-client-list>
</div>
<router-outlet></router-outlet>