<mat-card>
    <mat-card-title>Client List</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let client of clients">
          <h3 mat-line>{{client.id}}</h3>
          <h3 mat-line>{{client.name}}</h3>
          <h3 mat-line>{{client.lastName}}</h3>
          <h3 mat-line>{{client.dni}}</h3>
          <h3 mat-line>{{client.cuil}}</h3>
          <h3 mat-line>{{client.dateOfBirthday}}</h3>
          <h3 mat-line>{{client.enabled}}</h3>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
</mat-card>

<ul *ngIf="clients.length>0; else empty">
  <li *ngFor="let client of clients">
    <span>{{ client.name }}</span>
    <span>{{ client.dni }}</span>
  </li>
</ul>
<ng-template #empty> <i>No data yet</i> </ng-template>
